@use "../functions" as *;
@use "../mixins" as *;

.content {
  h2 {
    @include fluid-text(36, 24);
    margin-bottom: rem(30);
    line-height: 1;
  }

  p {
    @include fluid-text(20, 14);
    line-height: 1.2;
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }
}