@use "../functions" as *;

.about {
  margin-bottom: rem(50);
  &__wrapper {
    display: flex;
    gap: rem(35);
  }
  &__image-wrapper {
    min-width: rem(750);
    border-radius: rem(20);
    overflow: hidden;
  }
  &__content {
    padding-top: rem(85);
    h2 {
      font-size: rem(32);
    }
  }
}