@use "../functions" as *;
@use "../mixins" as *;

.children-quality {
  margin-bottom: rem(100);
  &__wrapper {
    display: flex;
    @include view-port-lg {
      display: block;
    }
  }
  &__image-wrapper {
    flex-basis: 50%;
    position: relative;
    @include view-port-lg {
      display: none;
    }
  }
  &__image {
    position: absolute;
    top: 0;
  }
  &__content {
    flex-basis: 50%;
    padding-top: rem(100);
    @include view-port-sm {
      padding-top: rem(50);
    }
  }
  &__item-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(40);
    @include view-port-lg {
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-between;
    }
    @include view-port-md {
      grid-template-columns: repeat(2, 1fr);
    }
    @include view-port-sm {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__item-image {
    min-width: rem(41);
  }
  &__item {
    display: flex;
    gap: rem(24);
    @include view-port-md {
      flex-direction: column;
      gap: rem(12);
    }
  }
  &__title {
    @include fluid-text(48, 24);
    font-weight: bold;
    margin-bottom: rem(80);
    text-transform: uppercase;
    @include view-port-sm {
      margin-bottom: rem(40);
    }
  }
  &__item-title {
    @include fluid-text(24, 18);
    font-weight: bold;
    text-transform: uppercase;
    min-height: rem(70);
    @include view-port-md {
      min-height: auto;
    }
  }
  &__item-caption {
    @include fluid-text(20, 16);
  }
}