@use "../functions" as *;
@use "../mixins" as *;

.company {
  margin-bottom: clamp(rem(20), 5%, rem(50));
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(40);
    @include view-port-sm {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    @include view-port-xs {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__item {
    @include view-port-sm {
      text-align: center;
    }
  }
}