@use "../functions" as *;
@use "../mixins" as *;

.stats {
  border-radius: rem(20);
  z-index: 1000;
  background: var(--color-nandor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(40);
  color: var(--color-default-white);
  gap: rem(40);
  overflow-x: auto;
  scrollbar-width: none;
  @include view-port-sm {
    padding: 20px;
  }
  &__item {
    display: flex;
    gap: rem(20);
    align-items: center;
  }
  &__number-wrapper {
    display: flex;
    flex-direction: column;
    line-height: 1;
  }
  &__number {
    font-weight: bold;
    @include fluid-text(48, 24);
    white-space: nowrap;
  }
  &__caption {
    @include fluid-text(20, 12);
    font-weight: 500;
    opacity: 0.5;
  }
  &__title {
    font-weight: 500;
    @include fluid-text(20, 12);
    line-height: 1;
  }
}