@use "functions" as *;

body {
  padding-top: rem(25);
  min-width: 380px;
  position: relative;
  overflow-x: hidden;
  font-family: "jost", sans-serif;
  background: var(--color-default-white);
}

.container {
  max-width: var(--view-port-xxl);
  margin: 0 auto;
  padding: 0 rem(36);
}

::selection {
  color: var(--color-default-white);
  background: rgb(var(--color-nandor-hover));
}