@use "functions" as *;
@use "sass:color";

:root {
  --color-default-white: #FBFAFC;
  --color-default-black: #212121;
  --color-transparent: rgba(255, 255, 255, 0);

  // www.htmlcsscolor.com
  --color-nandor: 73, 99, 74;
  --color-nandor-hover: 60, 81, 60;

  --font-size: 16px;
  --line-height: 1.65;
  --default-font: jost, sans-serif;

  --view-port-xs: 375px;
  --view-port-sm: 768px;
  --view-port-md: 1024px;
  --view-port-lg: 1280px;
  --view-port-xl: 1440px;
  --view-port-xxl: 1800px;
}