<div class="container">
    <section class="about">
        <div class="about__wrapper">
            <div class="about__content content">
                <h2><strong>МАФБЮРО – полный цикл создания детских и спортивных площадок: от проекта до монтажа</strong></h2>
                <p>
                    Создаем пространство для детства, наполненного движением и радостью! Компания
                    <strong>МАФБЮРО</strong> – ведущий
                    поставщик и подрядчик в сфере обустройства современных детских игровых и спортивных площадок. Мы не
                    просто продаем оборудование – мы проектируем, производим и устанавливаембезопасные, функциональные и
                    яркие игровые зоны, которые становятся центром притяжения во дворах, парках, школах и жилых комплексах.
                </p>
                <p>
                    Наши площадки: Стимулируют активность– лазалки, турники, горки развивают ловкость и координацию.
                    Учат взаимодействию– многофункциональные комплексы создают условия для совместных игр. Гарантируют
                    безопасность– все конструкции соответствуют ГОСТам и международным стандартам.
                </p>
            </div>
            <div class="about__image-wrapper">
                <img src="img/about_1.png?as=webp" class="about__image" alt="">
            </div>
        </div>
    </section>
</div>