<section class="children-quality">
    <div class="children-quality__wrapper">
        <div class="children-quality__image-wrapper">
            <img class="children-quality__image" src="img/children-quality_1.png?as=webp" alt="#">
        </div>
        <div class="children-quality__content">
            <h2 class="children-quality__title">Почему дети любят наши детские площадки</h2>
            <div class="children-quality__item-wrapper">
                <div class="children-quality__item">
                    <div class="children-quality__item-image-wrapper">
                        <svg class="children-quality__item-image" width="41" height="41" viewBox="0 0 41 41">
                            <use href="img/svg-sprite.svg#mark"></use>
                        </svg>
                    </div>
                    <div class="children-quality__item-content">
                        <h3 class="children-quality__item-title">Яркий дизайн</h3>
                        <span class="children-quality__item-caption">
                            сочные цвета и необычные формы, которые сразу привлекают внимание.
                        </span>
                    </div>
                </div>
                <div class="children-quality__item">
                    <div class="children-quality__item-image-wrapper">
                        <svg class="children-quality__item-image" width="41" height="41" viewBox="0 0 41 41">
                            <use href="img/svg-sprite.svg#mark"></use>
                        </svg>
                    </div>
                    <div class="children-quality__item-content">
                        <h3 class="children-quality__item-title">Увлекательные игры</h3>
                        <span class="children-quality__item-caption">
                            горки, лабиринты и канатные дороги, где можно веселиться часами.
                        </span>
                    </div>
                </div>
                <div class="children-quality__item">
                    <div class="children-quality__item-image-wrapper">
                        <svg class="children-quality__item-image" width="41" height="41" viewBox="0 0 41 41">
                            <use href="img/svg-sprite.svg#mark"></use>
                        </svg>
                    </div>
                    <div class="children-quality__item-content">
                        <h3 class="children-quality__item-title">Безопасность</h3>
                        <span class="children-quality__item-caption">
                            мягкое покрытие и продуманные конструкции без острых углов.
                        </span>
                    </div>
                </div>
                <div class="children-quality__item">
                    <div class="children-quality__item-image-wrapper">
                        <svg class="children-quality__item-image" width="41" height="41" viewBox="0 0 41 41">
                            <use href="img/svg-sprite.svg#mark"></use>
                        </svg>
                    </div>
                    <div class="children-quality__item-content">
                        <h3 class="children-quality__item-title">Разнообразие</h3>
                        <span class="children-quality__item-caption">
                            каждый найдет занятие по душе: лазалки для непосед, качели для мечтателей.
                        </span>
                    </div>
                </div>
                <div class="children-quality__item">
                    <div class="children-quality__item-image-wrapper">
                        <svg class="children-quality__item-image" width="41" height="41" viewBox="0 0 41 41">
                            <use href="img/svg-sprite.svg#mark"></use>
                        </svg>
                    </div>
                    <div class="children-quality__item-content">
                        <h3 class="children-quality__item-title">Место для друзей</h3>
                        <span class="children-quality__item-caption">
                            просторные комплексы, где можно играть большой компанией.
                        </span>
                    </div>
                </div>
                <div class="children-quality__item">
                    <div class="children-quality__item-image-wrapper">
                        <svg class="children-quality__item-image" width="41" height="41" viewBox="0 0 41 41">
                            <use href="img/svg-sprite.svg#mark"></use>
                        </svg>
                    </div>
                    <div class="children-quality__item-content">
                        <h3 class="children-quality__item-title">Ощущение приключений</h3>
                        <span class="children-quality__item-caption">
                            как настоящий парк развлечений, но прямо во дворе!
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>