<div class="container">
    <section class="company">
        <div class="company__wrapper">
            <div class="company__item">
                <img class="company__image" src="img/company_1.svg" alt="">
            </div>
            <div class="company__item">
                <img class="company__image" src="img/company_2.svg" alt="">
            </div>
            <div class="company__item">
                <img class="company__image" src="img/company_3.svg" alt="">
            </div>
            <div class="company__item">
                <img class="company__image" src="img/company_4.svg" alt="">
            </div>
            <div class="company__item">
                <img class="company__image" src="img/company_5.svg" alt="">
            </div>
            <div class="company__item">
                <img class="company__image" src="img/company_6.svg" alt="">
            </div>
            <div class="company__item">
                <img class="company__image" src="img/company_7.svg" alt="">
            </div>
        </div>
    </section>
</div>