<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="footer__top-wrapper">
                <div class="footer__logo">
                    <svg class="footer__logo-image" width="1357" height="200" viewBox="0 0 1357 200">
                        <use href="img/sprite-icons.svg#banner-logo"></use>
                    </svg>
                    <span class="footer__logo-caption">
                        Продажа и монтаж оборудования для детских и спортивных площадок
                    </span>
                    <div class="footer__logo-socials">
                        <a href="#">
                            <svg class="footer__logo-socials-image" width="34" height="34" viewBox="0 0 34 34">
                                <use href="img/sprite-icons.svg#telegram"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg  class="footer__logo-socials-image" width="34" height="34" viewBox="0 0 34 34">
                                <use href="img/sprite-icons.svg#vk"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg  class="footer__logo-socials-image" width="34" height="34" viewBox="0 0 34 34">
                                <use href="img/sprite-icons.svg#whatsup"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <nav class="footer__nav">
                    <ul class="footer__nav-list">
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Комплексы для лазания</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Песочницы</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Тренажеры</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Качели, карусели</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Воркаут, гимнастика</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Элемента благоустройства</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Деревянные комплексы</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Игровые комплексы</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Оборудование для выгула собак</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Батутные комплексы</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Инклюзивные игровые комплексы</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Реализованные проекты</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Проектировщикам и госкомпаниям</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Дилерам</a>
                        </li>
                    </ul>
                </nav>
                <div class="footer__contacts">
                    <span class="footer__contacts-address">Москва, ул. Новочерёмушкинская, д. 61</span>
                    <span class="footer__contacts-phone">8 800 201 79 62</span>
                    <span class="footer__contacts-mail">info@mafburo.ru</span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__bottom-wrapper">
                <span>© 2025 ООО «МАФБЮРО»</span>
                <a class="footer__bottom-link" href="#">Политика конфиденциальности</a>
                <a class="footer__bottom-link" href="#">Создание сайтов от Randee</a>
            </div>
        </div>
    </div>
</footer>