<div class="container">
    <section class="form-consultation">
        <div class="form-consultation__wrapper">
            <div class="form-consultation__content">
                <h2 class="form-consultation__title">Получите консультации от нашего специалиста</h2>
                <span class="form-consultation__description">Мы готовы ответить на все ваши вопросы по телефону или в whatsapp. Оставте ваш номер телефона и напишите способ связи и наш специалист свяжется с вами в ближайшее время!</span>
            </div>
            <form action="#" class="form-consultation__form">
                <input required class="input form-consultation__form-input" type="text" placeholder="Ваш телефон">
                <input required class="input form-consultation__form-input" type="text" placeholder="Отравить Whatsapp или Telegram">
                <input class="button button_font_large" type="submit" value="Консультация">
            </form>
            <img class="form-consultation__background-image" src="img/form-consultation_1.png?as=webp" alt="">
        </div>
    </section>
</div>