<header class="header">
    <div class="header__info">
        <div class="header__logo">
            <svg class="header__logo-image" width="79" height="67" viewBox="0 0 79 67">
                <use href="img/sprite-icons.svg#logo"></use>
            </svg>
        </div>
        <div class="header__content">
            <span>Игровое и спортивное</span>
            <span>оборудование в Москве</span>
        </div>
        <div class="header__search">
            <div class="header__search-wrapper">
                <input class="header__search-input" type="text" placeholder="Поиск по сайту">
                <svg class="header__search-icon" width="20" height="20" viewBox="0 0 20 20">
                    <use href="img/sprite-icons.svg#search"></use>
                </svg>
            </div>
        </div>
        <div class="header__socials">
            <a href="#">
                <svg class="header__socials-image" width="34" height="34" viewBox="0 0 34 34">
                    <use href="img/sprite-icons.svg#telegram"></use>
                </svg>
            </a>
            <a href="#">
                <svg class="header__socials-image" width="34" height="34" viewBox="0 0 34 34">
                    <use href="img/sprite-icons.svg#vk"></use>
                </svg>
            </a>
            <a href="#">
                <svg class="header__socials-image" width="34" height="34" viewBox="0 0 34 34">
                    <use href="img/sprite-icons.svg#whatsup"></use>
                </svg>
            </a>
        </div>
        <div class="header__contacts">
            <span class="header__contacts-email">info77@mafmarket.ru</span>
            <span class="header__contacts-phone">8 800 201 79 62</span>
        </div>
        <div class="header__button-wrapper">
            <a href="#" class="button header__button">
                <span>Презентация</span>
                <svg width="41" height="22" viewBox="0 0 41 22">
                    <use href="img/sprite-icons.svg#pdf"></use>
                </svg>
            </a>
        </div>
    </div>
    <div class="header__line"></div>
    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item">
                <a href="#" class="header__nav-catalog">
                    <svg width="22" height="22" viewBox="0 0 22 22">
                        <use href="img/sprite-icons.svg#catalog"></use>
                    </svg>
                    <span>Каталог продукции</span>
                </a>
            </li>
            <li class="header__nav-item">
                <a href="#" class="header__nav-link">Реализованный проекты</a>
            </li>
            <li class="header__nav-item">
                <a href="#" class="header__nav-link">Производство</a>
            </li>
            <li class="header__nav-item">
                <a href="#" class="header__nav-link">Партнерам</a>
            </li>
            <li class="header__nav-item">
                <a href="#" class="header__nav-link">О компании</a>
            </li>
            <li class="header__nav-item">
                <a href="#" class="header__nav-link">Контакты</a>
            </li>
        </ul>
    </nav>
</header>