<section class="quality">
    <div class="quality__wrapper">
        <div class="quality__item">
            <img class="quality__image" src="img/quality_1.svg" alt="#">
            <div class="quality__content">
                <h2 class="quality__title">Аналитика и оценка</h2>
                <p class="quality__caption">Анализ исходных данных -
                    первый шаг в создании правильного решения. Конструкторский отдел осуществляет проверку проекта на предмет безопасности.</p>
            </div>
        </div>
        <div class="quality__item">
            <img class="quality__image" src="img/quality_2.svg" alt="#">
            <div class="quality__content">
                <h2 class="quality__title">Расстановка оборудования</h2>
                <p class="quality__caption">Инженер-визуализатор делает план плоздаки, размещаея оборудование в соответствии
                    с зонами и требованиями безопасности.</p>
            </div>
        </div>
        <div class="quality__item">
            <img class="quality__image" src="img/quality_3.svg" alt="#">
            <div class="quality__content">
                <h2 class="quality__title">Экскурсия на производство</h2>
                <p class="quality__caption">Инженер-визуализатор делает план плоздаки, размещаея оборудование в соответствии
                    с зонами и требованиями безопасности.</p>
            </div>
        </div>
        <div class="quality__item">
            <img class="quality__image" src="img/quality_4.svg" alt="#">
            <div class="quality__content">
                <h2 class="quality__title">Индивидуальные условия сотрудничества</h2>
                <p class="quality__caption">Инженер-визуализатор делает план плоздаки, размещаея оборудование в соответствии
                    с зонами и требованиями безопасности.</p>
            </div>
        </div>
    </div>
</section>