<div class="container">
    <section class="works">
        <div class="works__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide works__item">
                    <div class="works__item-wrapper">
                        <img class="works__item-image" src="img/works_1.png?as=webp" alt="#">
                        <span class="works__item-caption">Комплексы для лазанья</span>
                    </div>
                    <div class="works__item-line"></div>
                </div>
                <div class="swiper-slide works__item">
                    <div class="works__item-wrapper">
                        <img class="works__item-image" src="img/works_2.png?as=webp" alt="#">
                        <span class="works__item-caption">Комплексы для лазанья</span>
                    </div>
                    <div class="works__item-line"></div>
                </div>
                <div class="swiper-slide works__item">
                    <div class="works__item-wrapper">
                        <img class="works__item-image" src="img/works_3.png?as=webp" alt="#">
                        <span class="works__item-caption">Комплексы для лазанья</span>
                    </div>
                    <div class="works__item-line"></div>
                </div>
                <div class="swiper-slide works__item">
                    <div class="works__item-wrapper">
                        <img class="works__item-image" src="img/works_4.png?as=webp" alt="#">
                        <span class="works__item-caption">Комплексы для лазанья</span>
                    </div>
                    <div class="works__item-line"></div>
                </div>
                <div class="swiper-slide works__item">
                    <div class="works__item-wrapper">
                        <img class="works__item-image" src="img/works_1.png?as=webp" alt="#">
                        <span class="works__item-caption">Комплексы для лазанья</span>
                    </div>
                    <div class="works__item-line"></div>
                </div>
                <div class="swiper-slide works__item">
                    <div class="works__item-wrapper">
                        <img class="works__item-image" src="img/works_2.png?as=webp" alt="#">
                        <span class="works__item-caption">Комплексы для лазанья</span>
                    </div>
                    <div class="works__item-line"></div>
                </div>
                <div class="swiper-slide works__item">
                    <div class="works__item-wrapper">
                        <img class="works__item-image" src="img/works_3.png?as=webp" alt="#">
                        <span class="works__item-caption">Комплексы для лазанья</span>
                    </div>
                    <div class="works__item-line"></div>
                </div>
                <div class="swiper-slide works__item">
                    <div class="works__item-wrapper">
                        <img class="works__item-image" src="img/works_4.png?as=webp" alt="#">
                        <span class="works__item-caption">Комплексы для лазанья</span>
                    </div>
                    <div class="works__item-line"></div>
                </div>
            </div>
        </div>
    </section>
</div>