<div class="container">
    <nav class="breadcrumb">
        <div class="breadcrumb__item">
            <a href="#" class="breadcrumb__link">Главная</a>
        </div>
        <div class="breadcrumb__item">
            <a href="#" class="breadcrumb__link">Категория</a>
        </div>
        <div class="breadcrumb__item breadcrumb__item_active">
            Текущая страница
        </div>
    </nav>
</div>