<div class="container">
    <section class="form-project">
        <div class="form-project__wrapper">
            <div class="form-project__image">
                <img src="assets/img/form-project_1.png?as=webp" alt="">
            </div>
            <div class="form-project__content">
                <h2 class="form-project__title">Проектирование и производство</h2>
                <span class="form-project__caption">
                Позволяет нам быть уверенными в качестве продукции, а также создавать изделия как серийно, так и по
                индивидуальному заказу.
            </span>
            </div>
            <form class="form-project__form">
                <input required class="input form-project__form-input" type="text" placeholder="Ваше имя">
                <input required class="input form-project__form-input" type="text" placeholder="Ваш телефон">
                <input class="button button_font_large" type="submit" value="Заказать свой проект">
            </form>
        </div>
    </section>
</div>