<div class="container">
    <section class="form-catalog">
        <div class="form-catalog__wrapper">
            <div class="form-catalog__content">
                <h2 class="form-catalog__title">Получите полный каталог оборудования</h2>
                <span class="form-catalog__caption">Хотите полный каталог с актуальными ценами 2025 года? Это просто!</span>
                <span class="form-catalog__description">Отправьте ваш номер телефона в WhatsApp или Telegram – и мгновенно
            получите PDF-каталог:</span>
            </div>
            <form action="#" class="form-catalog__form">
                <input required class="input form-catalog__form-input" type="text" placeholder="Ваш телефон">
                <input required class="input form-catalog__form-input" type="text" placeholder="Отравить Whatsapp или Telegram">
                <input class="form-catalog__form-button button button_font_large" type="submit" value="Отправить каталог">
            </form>
        </div>
        <img class="form-catalog__background-image" src="assets/img/form-catalog_1.png?as=webp" alt="">
        <img class="form-catalog__badge-image" src="assets/img/form-catalog_2.png?as=webp" alt="">
    </section>
</div>