<div class="container">
    <section class="production-list">
        <div class="production-list__wrapper">
            {% for i in 1..9 %}
            <div class="works__item">
                <div class="production-list__item-wrapper">
                    <img class="production-list__item-image" src="assets/img/works_1.png?as=webp" alt="#">
                    <span class="production-list__item-caption">Комплексы для лазанья</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>