<div class="container">
    <section class="services">
        <div class="services__item">
            <img class="services__image" src="assets/img/services_1.png?as=webp" alt="#">
            <div class="services__caption">
                <span class="services__caption-text">Игровые</span>
                <span class="services__caption-icon">
                <svg width="25" height="25" viewBox="0 0 17 17">
                    <use href="assets/img/sprite-icons.svg#arrow"></use>
                </svg>
            </span>
                <span class="services__caption-text">Пространства</span>
            </div>
        </div>
        <div class="services__item">
            <img class="services__image" src="assets/img/services_2.png?as=webp" alt="#">
            <div class="services__caption">
                <span class="services__caption-text">Спортивное</span>
                <span class="services__caption-icon">
                <svg width="25" height="25" viewBox="0 0 17 17">
                    <use href="assets/img/sprite-icons.svg#arrow"></use>
                </svg>
            </span>
                <span class="services__caption-text">Оборудование</span>
            </div>
        </div>
        <div class="services__item">
            <img class="services__image" src="assets/img/services_3.png?as=webp" alt="#">
            <div class="services__caption">
                <span class="services__caption-text">Уличная</span>
                <span class="services__caption-text">Мебель</span>
                <span class="services__caption-icon">
                <svg width="25" height="25" viewBox="0 0 17 17">
                    <use href="assets/img/sprite-icons.svg#arrow"></use>
                </svg>
            </span>
            </div>
        </div>
    </section>
</div>