<div class="container">
    <section class="title-image">
        <div class="title-image__image">
            <img src="assets/img/title-image_1.png?as=webp" alt="">
        </div>
        <h1 class="title-image__title">Реализованные проекты</h1>
    </section>
</div>