:root {
  --color-default-white: #FBFAFC;
  --color-default-black: #212121;
  --color-transparent: rgba(255, 255, 255, 0);

  // www.htmlcsscolor.com
  --color-nandor: #49634A;
  --color-nandor-hover: #3C513C;

  --color-tall-poppy: #8c3c3c;

  --font-size: 16px;
  --line-height: 1.65;
  --default-font: jost, sans-serif;
}

$view-port-xs: 576px;
$view-port-sm: 768px;
$view-port-md: 1024px;
$view-port-lg: 1280px;
$view-port-xl: 1440px;
$view-port-xxl: 1800px;