@use "../functions" as *;
@use "../mixins" as *;

.banner {
  position: relative;
  border-radius: rem(20);
  margin-bottom: clamp(rem(20), 5%, rem(50));
  overflow-x: hidden;
  &__header {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1000;
  }
  &__item {
    max-height: rem(1080);
    position: relative;
    height: rem(1080);
    @include view-port-lg {
      height: rem(600);
    }
  }
  &__image-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    &::after {
      content: "";
      background: rgba(0, 0, 0, 0.3);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: none;
  }
  &__stats {
    z-index: 950;
    position: absolute;
    bottom: 0;
    right: 0;
    height: rem(200);
    width: rem(1185);
    @include view-port-lg {
      display: none !important;
    }
    @include view-port-xxl {
      width: rem(900);
    }
  }
  &__logo {
    position: absolute;
    top: 0;
    z-index: 900;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: rem(24);
    padding: 0 rem(40);
    text-align: center;
  }
  &__logo-caption {
    @include fluid-text(40, 12);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-default-white);
  }
  &__caption {
    position: absolute;
    bottom: rem(100);
    width: 27dvw;
    color: var(--color-default-white);
    text-transform: uppercase;
    @include view-port-lg {
      width: 100%;
      text-align: center;
    }
    @include view-port-md {
      bottom: rem(68);
    }
  }
  &__caption-wrapper {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    flex-direction: column;
  }
  &__type {
    font-weight: bold;
    @include fluid-text(40, 16);
  }
  &__address {
    font-weight: 600;
    @include fluid-text(24, 12);
  }
  &__paginator-wrapper {
    position: absolute;
    bottom: rem(15);
    width: 27dvw;
    text-align: center;
    z-index: 900;
    @include view-port-lg {
      width: 100%;
    }
    .swiper-pagination-bullet {
      width: rem(15);
      height: rem(15);
      background: var(--color-default-white);
      opacity: 1;
      &-active {
        background: var(--color-nandor);
      }
    }
  }
  &__leaves {
    position: absolute;
    z-index: 100;
    right: 0;
    bottom: 0;
    @include view-port-lg {
      display: none;
    }
  }
  &__support {
    z-index: 2500;
    position: absolute;
    right: 0;
    bottom: rem(250);
    @include view-port-lg {
      display: none;
    }
  }
}

.mobile__stats {
  display: none !important;
  margin-bottom: clamp(rem(20), 5%, rem(50));
  @include view-port-lg {
    display: flex !important;
  }
}

.inverted-radius {
  --r: 30px;
  --s: 30px;
  --x: 1151px;
  --y: 165px;
  aspect-ratio: 1;
  background: #000;
  border-radius: var(--r);

  /* Общие части для маски */
  --radial-part: / calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000 72%);
  --conic-part: conic-gradient(from 90deg at calc(100% - var(--r)) calc(100% - var(--r)), #0000 25%, #000 0);
  --offset: calc(var(--s) + var(--r));

  /* Сборка маски */
  mask:
          /* Верхний правый угол */
          calc(100% - var(--offset) - var(--x)) 100% var(--radial-part),
            /* Нижний левый угол */
          100% calc(100% - var(--offset) - var(--y)) var(--radial-part),
            /* Внутренний радиальный градиент */
          radial-gradient(var(--s) at 100% 100%, #0000 99%, #000 calc(100% + 1px)) calc(-1 * var(--r) - var(--x)) calc(-1 * var(--r) - var(--y)),
            /* Правый конический градиент */
          var(--conic-part) calc(-1 * var(--offset) - var(--x)) 0,
            /* Левый конический градиент */
          var(--conic-part) 0 calc(-1 * var(--offset) - var(--y));

  mask-repeat: no-repeat;

  @include view-port-lg {
    mask: none;
  }
  @include view-port-xxl {
    --r: 30px;
    --s: 30px;
    --x: 860px;
    --y: 165px;
  }
}