@use "../functions" as *;
@use "../mixins" as *;

.footer {
  &__top {
    background: #212121;
    padding: rem(100) 0;
    @include view-port-sm {
      padding: rem(50) 0;
    }
  }
  &__top-wrapper {
    display: flex;
    gap: rem(80);
    @include view-port-sm {
      flex-wrap: wrap;
      justify-content: center;
      gap: rem(48);
    }
  }
  &__nav {
    width: fit-content;
  }
  &__nav-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(20);
    height: 100%;
    width: 100%;
    @include view-port-sm {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__nav-item {
    @include fluid-text(20, 16);
    width: fit-content;
  }
  &__nav-link {
    color: #ffffff;
    @include hover {
      text-decoration: underline;
    }
  }
  &__logo {
    display: flex;
    flex-direction: column;
    max-width: rem(230);
    text-align: center;
    align-items: center;
    gap: rem(20);
  }
  &__logo-socials {
    display: flex;
    gap: rem(20);
  }
  &__logo-socials-image {
    fill: var(--color-nandor);
    @include hover {
      fill: var(--color-nandor-hover);
    }
  }
  &__logo-caption {
    color: #ffffff;
  }
  &__logo-image {
    max-width: rem(215);
  }
  &__contacts {
    color: #ffffff;
    text-align: right;
    display: flex;
    gap: rem(20);
    flex-direction: column;
    @include view-port-sm {
      text-align: center;
    }
  }
  &__contacts-address {
    @include fluid-text(24, 14);
    text-wrap: balance;
  }
  &__contacts-phone {
    @include fluid-text(36, 18);
  }
  &__contacts-mail {
    @include fluid-text(36, 18);
  }
  &__bottom {
    background: #000;
    padding: rem(25) 0;
  }
  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    @include view-port-xs {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__bottom-link {
    color: #ffffff;
    @include hover {
      text-decoration: underline;
    }
  }
}