@use "../functions" as *;
@use "../mixins" as *;

.form-consultation {
  padding-top: rem(150);
  margin-bottom: clamp(rem(20), 5%, rem(50));
  @include view-port-md {
    padding-top: 0;
  }
  &__wrapper {
    padding: rem(130) rem(85) rem(85) rem(85) ;
    border-radius: rem(20);
    background: linear-gradient(120deg,rgba(0, 0, 0, 1) 0%, rgba(38, 38, 38, 1) 40%, rgba(30, 65, 31, 1) 70%);
    color: var(--color-default-white);
    position: relative;
    z-index: 0;
    @include view-port-md {
      padding: clamp(rem(15), 2%, rem(30));
    }
  }
  &__background-image {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(-50%);
    z-index: -100;
    @include view-port-xxl {
      transform: translateX(-10%);
    }
    @include view-port-lg {
      display: none;
    }
  }
  &__title {
    @include fluid-text(24, 24);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
  }
  &__description {
    @include fluid-text(24, 14);
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    max-width: rem(700);
    margin-bottom: rem(100);
  }
  &__form {
    display: flex;
    gap: rem(30);
    flex-wrap: wrap;
    @include view-port-md {
      flex-direction: column;
    }
  }
  &__form-input {
    min-width: rem(400);
    @include view-port-md {
      min-width: auto;
    }
  }
}